* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  /* overflow-x: hidden; */
  font-size: 62.5%;
}

body {
  /* background-color: #27272a; */
  padding: 4.8rem 6.4rem 0;
}

#root {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 4.8rem;
  border: 1px solid #ccc;
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
}

.content {
  border: 1px solid #ccc;
  flex-grow: 1;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  padding: 2.4rem;
  overflow-y: auto;
}

/***************Boxes***************/
.note-piece {
  border: 1px dashed #3f3f41;
  padding: 1.2rem;
  font-size: 1.4rem;
  animation: slide-down ease 0.3s;
  height: 10rem;
  overflow: hidden;
}

.paper-stack,
.paper-stack:before,
.paper-stack:after {
  background-color: #fdfdf6;
  border: 1px solid #ccc;
}

.paper-stack {
  position: relative;
  min-width: 30rem;
  padding: 2rem;
  align-self: start;
}
.paper-stack:before,
.paper-stack:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(1deg);
  -o-transform: rotate(1deg);
  transform: rotateZ(1deg);
  z-index: -1;
  left: 10px;
  top: 7px;
}

.paper-stack:after {
  -webkit-transform: rotateZ(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotateZ(5deg);
  left: 5px;
  top: 3px;
}

.colors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/***************Inputs***************/
.search-box {
  width: calc(100vw - 30rem - 4.8rem - 6.4rem - 6.4rem - 2.4rem - 2.4rem);
  line-height: 1;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.search-box:focus {
  border: 1px solid #3f3f41;
}

textarea {
  resize: none;
  background-color: transparent;
  border: none;
  overflow-y: auto;
  margin: 1rem 0;
  font-size: 1.6rem;
  height: 15rem;
  width: 100%;
  font-family: inherit;
}

/***************Buttons***************/
.btn-add {
  border: 1px solid transparent;
  background-color: #e8eb2e;
  padding: 6px 12px;
  border-radius: 3px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.btn-add:hover {
  border: 1px solid #3f3f41;
}

.btn-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  border: 1px solid #989898;
}

.btn-active {
  border: none;
  outline-offset: 3px;
  outline: 1px dashed #3f3f41;
  box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.25);
}

/***************Scrollbar***************/
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #e6fa9d;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f41;
}

/***************Animations***************/
@keyframes slide-down {
  0% {
    transform: translateX(-50rem) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

/*************************************/
